<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madfangs</title>
    <link rel="stylesheet" href="<%= domainRoot %>css/bundle-successfulregistrationpage.css">
</head>
<body class='background-dark'>
    <div class="top-fixed">
        <a href="<%=domainRoot%>" class="logo--">
            <img src="<%=domainRoot%>img/svg/logo.svg" alt="logo">
        </a>
    </div>
    <div class="centered px-2">
        <h1 class="display-5 my-3 text-success text-center">Registration Accepted!</h1>
        <p class="lead text-light text-center my-4">We have successfully confirmed your registration under the name <i>"<%=name%>"</i>. <%=msg%></p>
        <small class="d-block w-100 text-info my-3 text-center">Please screenshot this page for future reference. You may be asked to provide this screenshot in order to verify your registration.</small>
    </div>
</body>
</html>